/* GENERIC STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: norse;
  src: url(assets/Norse-Bold.otf) format("opentype");
}

.italic {
  font-style: italic;
}

#container {
  display: flex;
}

/* LOGO STYLING */

.image-sidebar {
  height: 100vh;
  width: 40%;
  background: no-repeat center/cover
    url("assets/halie-west-25xggax4bSA-unsplash.jpg");
  display: flex;
  flex-direction: column;
}

/* .image-sidebar p {
  color: white;
  justify-self: flex-end;
} */

.logo {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-top: 40%;
}

.logo img {
  height: auto;
  width: 75px;
}

.logo-text {
  color: white;
  font-family: "norse", Courier, monospace;
  font-size: 72px;
}

/* CONTENT AREA STYLING */

#content {
  display: flex;
  flex-direction: column;
  background-color: #f5f1f1;
}

#content > section {
  flex: 1;
  padding-left: 40px;
  padding-right: 160px;
  border: 1px solid black;
}

.intro,
.form-container p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.intro {
  padding-top: 120px;
}

.intro > p {
  padding-bottom: 2rem;
}

/* FORM STYLING */

.form-container p {
  padding: 16px 0;
}

.form-container {
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  flex: 1;
}

.item {
  flex: 1;
}

label {
  display: block;
}

/* SIGN UP STYLING */
.btn {
  background-color: #596d48;
  color: white;
  border-radius: 5px;
  padding: 10px 40px;
  border: none;
  font-weight: bold;
  margin: 30px 0;
}

.signup p a {
  color: #596d48;
  text-decoration: none;
  font-weight: 500;
}
