/* GENERIC STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: norse;
  src: url(assets/Norse-Bold.otf) format("opentype");
}

.italic {
  font-style: italic;
}

#container {
  display: flex;
  height: 100vh;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
}

/* LOGO STYLING */

.image-sidebar {
  min-width: 40%;
  /* width: 640px; */
  background: no-repeat center/cover
    url("assets/halie-west-25xggax4bSA-unsplash.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-sidebar p,
.image-sidebar a {
  color: white;
}

.image-sidebar p {
  text-align: center;
  padding-bottom: 1rem;
}

.logo {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-top: 40%;
}

.logo img {
  height: auto;
  width: 75px;
}

.logo-text {
  color: white;
  font-family: "norse", Courier, monospace;
  font-size: 72px;
}

/* CONTENT AREA STYLING */

#content {
  display: flex;
  flex-direction: column;
  background-color: #f5f1f1;
}

#content > section {
  flex: 1;
  padding-left: 40px;
  padding-right: 100px;
  /* border: 1px solid black; */
}

.intro,
.form-container p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.intro {
  display: flex;
  align-items: center;
}

.intro-text p:last-of-type {
  padding-top: 2rem;
}

/* .intro > p {
  padding-bottom: 2rem;
} */

/* FORM STYLING */

.form-container p {
  padding: 20px 0;
}

.form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  flex: 1;
}

.item {
  flex: 1;
}

.form label {
  display: block;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.form input {
  border: 1px solid #e5e7eb;
  padding: 5px 8px;
  border-radius: 5px;
}

.form input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 0 0 10px #e5e7eb;
}

.form .error {
  border-color: red;
}

/* SIGN UP STYLING */
.btn {
  background-color: #596d48;
  color: white;
  border-radius: 5px;
  padding: 10px 40px;
  border: none;
  font-weight: bold;
  margin: 30px 0;
  cursor: pointer;
}

.signup p a {
  color: #596d48;
  text-decoration: none;
  font-weight: 500;
}
